.marketSlider {
  width: 100%;
 
 
}

.marketSlider >.swiper-wrapper {
  display: flex !important;
  
}

.marketSlider > .swiper-slide {
  text-align: center;
  font-size: 18px;
  background: #fff;

  display: flex;
  justify-content: center;
  align-items: center;
}

.marketSlider > .swiper-slide img {
  display: block;
  width: 100%;
  height: 100%;
  object-fit: cover;
}