.marketSlider {
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: row;
}
.swiper-wrapper {
    display: flex !important;
}

.marketSlider .swiper-slide {
    text-align: center;
    width: 200px !important;
    display: flex;
    justify-content: center;
    align-items: center;
}

.marketSlider .swiper-slide img {
    display: flex;
    width: 100%;
    height: 100%;
    object-fit: cover;
}